<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQp9j81I4RXFLxdx_4LUJexCLayacfTrE</string>
	<key>GCM_SENDER_ID</key>
	<string>488171890330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loans.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>agriloan-de888</string>
	<key>STORAGE_BUCKET</key>
	<string>agriloan-de888.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488171890330:ios:8436a1a1a165a293d72123</string>
</dict>
</plist>